@model InternPortal.Data.Models.Question

<div class="form-horizontal">
    <h4>Question</h4>
    <hr />
    @Html.HiddenFor(model => Model.QuestionId)

    @Html.HiddenFor(model => Model.QuestionTypeId)

    @Html.LabelFor(model => Model.Question_, Model.Question_, htmlAttributes: new { @class = "control-label col-md-2" })
</div>
