@using InternPortal.Data;

@model InternPortal.UI.ViewModels.ApplicationViewModel

@{
    /**/

    ViewBag.Title = "Application";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SaveApplication","Application",FormMethod.Post,new { id = "FormSaveApplication", enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-12">
            @(Html.Kendo().ProgressBar()
                                      .Name("ApplicationProgress")
                                      .Type(ProgressBarType.Value)
                                      .ChunkCount(3)
                                      .ShowStatus(false) // Don't display the value, we'll let the tab strip do that.
                                      .Min(0)
                                      .Max(3) // Number of steps in the form
                                      .Value(1)
                                      .HtmlAttributes(new { style = "width: 100%;" })
            )
        </div>
    </div>
    <br>
    @(Html.Kendo().TabStrip()
                                  .Name("ApplicationProgressStrip")
                                  .Items(tabstrip =>
                                  {
                                      tabstrip.Add().Text("Profile")
                                          .Selected(true)
                                          .Content(m => Html.Partial("_ApplicationProfile", m));

                                      tabstrip.Add().Text("Questions")
                                          //.Enabled(false)
                                          .Content(m => Html.Partial("_ApplicationQuestions", m));

                                      tabstrip.Add().Text("Resume")
                                          //.Enabled(false)
                                          .Content(m => Html.Partial("_ApplicationResume", m));

                                  })
                                .Events(ev =>
                                {
                                    ev.Select("onSelect");
                                    ev.Show("onShow");
                                })

    )
    <br>
    <div class="row">
        <div class="col-md-4">
            <a href="#" class="k-button k-primary" id="previous"><span class="glyphicon glyphicon-chevron-left"></span>Previous</a>
        </div>
        <div class="col-md-4 text-center">
            <input type="submit" class="k-button k-primary" value="Save Application" id="SaveApplication" />
            @if (Model.Application.ApplicationId > 0 && Model.User.UserId > 0 && Model.Application.UserUploads.FirstOrDefault().UploadId > 0)
            {
                <a href="\Application\SubmitApplication\@Model.Application.ApplicationId" class="k-button k-primary" id="SubmitApplication" >Submit Application</a>
            }
        </div>
        <div class="col-md-4">
            <a href="#" class="k-button k-primary pull-right" id="next">Next<span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    </div>
}

<script>

    //prevent save on press enter
    $('#FormSaveApplication').on('keyup keypress', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode === 13) {
            e.preventDefault();
            return false;
        }
    });

    $('#SaveApplication').click(function (e) {
        $('#FormSaveApplication').submit();
    });


    //progress bar
     var progress,
        tabs,
        currentIndex = 0;

    $(document).ready(function () {
        progress = $("#ApplicationProgress").data("kendoProgressBar");
        tabs = $("#ApplicationProgressStrip").data("kendoTabStrip");

        //if () {
        //    currentIndex = 3;
        //    tabs.select(currentIndex);
        //    progress.value(currentIndex + 1);
        //}
    });

    function onSelect(e) {

        var selectedIndex = tabIndexOfElement(e.item),

            isMovingBack = selectedIndex < currentIndex;

        if (isMovingBack || isTabValidAt(currentIndex)) {
            console.log("tab passed validation");
            currentIndex = selectedIndex;
            tabs.enable(getTabAtIndex(currentIndex), true);
        }
        else {
            e.preventDefault();
        }
    }

    function onPreviousClick(e) {
        e.preventDefault();
        tabs.select(tabs.select().prev());
    }

    function onNextClick(e) {
        e.preventDefault();

        tabs.select(getTabAtIndex(currentIndex + 1));
    }

    function getTabAtIndex(index) {
        return tabs.tabGroup.children().eq(index);
    }

    function tabIndexOfElement(element) {
        return tabs.element.find(element).index();
    }

    function isTabValidAt(tabIndex) {
        var el = tabs.contentElement(tabIndex),
            val = $(el).kendoValidator().data("kendoValidator");
        return val.validate();
    }

    function onShow(e) {
        progress.value(currentIndex + 1);
    }

    $('#previous').click(function () {
        if (currentIndex > 0) {
            tabs.select(getTabAtIndex(currentIndex - 1));
        }
    });

    $('#next').click(function () {
        if (currentIndex < 3)
        {

                tabs.select(getTabAtIndex(currentIndex + 1));
            
        }
    });
    //progress bar
 </script>
