@{
    ViewBag.Title = "SubmitApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h4>Thank you for your application! We will be contacting you soon.</h4>
</div>