i {

    color: white;
}

.page-title {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 12px 12px;
  font-family:  'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 17px;
    color: white;
}

.k-textbox .k-icon {
    top: 50%;
    margin: -8px -8px 0 !important;
    position: absolute;
}

.k-state-selected {
    background-color: #00a65a !important;
    border-color: #00a65a !important;
}

/*Colors*/
.k-overflow-container .k-primary, .k-primary {
    background-color: #00a65a !important;
}

    .k-overflow-container .k-primary, .k-primary:hover {
        background-color: #00a65a !important;
    }

.panel-primary .panel-heading {
    background-color: #00a65a !important;
    border-bottom: #00a65a !important;
}

.panel-primary {
    border-color: #00a65a !important;
}


.btn-primary {
    background-color: #00a65a !important;
    border-color: #00a65a !important;
}

    .btn-primary:hover, .btn-primary:active {
        background-color: #00a65a !important;
        border-color: #00a65a !important;
    }

#ApplicationProgress > div {
    background-color: #00a65a !important;
    border-color: #00a65a !important;
}

tr.k-state-selected td {
    background-color: #00a65a !important;
    border-color: #00a65a !important;
}

    tr.k-state-selected td:hover {
        background-color: #00a65a !important;
        border-color: #00a65a !important;
    }

.k-edit-form-container {
    width:90% !important;
}

pre {
    white-space: pre-wrap; /* Since CSS 2.1 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}
.alert-success {
    background-color: #008d4c !important;
}

.alert-info {
    background-color: #00a65a !important;
}