@{
    ViewBag.Title = "Home Page";
    ViewBag.Decription = "";
}

<div class="container-fluid">
    @if (!User.IsInRole("admin"))
    {
        <div class="text-center">
            <h2>Welcome to Intern Portal</h2>
        </div>
        <hr>
        @Html.Partial("_UserPositions")

        @Html.Partial("_UserApplications")

    }
    else
    {
        @Html.Partial("_AdminPositions")
        @Html.Partial("_AdminApplications")
    }
</div>
<script>

    function checkEmptyGrid(e) 
    {
        var grid = e.sender;
        if (grid.dataSource.total() == 0) {
            //Hide grid
            $(e.sender.element).hide();
        }
    }

    //refresh grid on add to get id of element created.
    function refreshOnCreate(e)
    {
        var tmp = e.type;
        if (tmp == "create")
        {
            var dataSource = this;
            dataSource.read();
        }
    }

    function formatDate(data) {
        var date = kendo.toString(kendo.parseDate(data), "yyyy-MM-dd") || "N/A";
        return date;
    }
    //template to set columns to readonly on edit.
    function readOnly(container, options) {
        container.removeClass("k-edit-cell");

        if (options.field.toLowerCase().indexOf("date") >= 0) {
            container.text(formatDate(options.model.get(options.field)));
        }
        else {
            container.text(checkNull(options.model.get(options.field)));
        }
    }


    function formatDateTime(data) {
        return kendo.toString(kendo.parseDate(data), "yyyy-MM-dd hh:mm") || "N/A";
    }
    function checkNull(data) {
        return data || "N/A";
    }

    var applicationStatuses = [];

    var applicationStatusesUrl = "/API/InternService/GetApplicationStatuses";
    callService(applicationStatusesUrl, function (response) {
        applicationStatuses = response;
    },
        function (error) {
            alert("Failed to get application statuses");
        });


    function getApplicationStatus(statusId) {
        var status = "";
        $.each(applicationStatuses, function (index, value) {
            if (statusId === value.ApplicationStatusId) {
                status = value.Status;
            }
        });

        return status;
    }
</script>