
@{
    ViewBag.Title = "Home Page";
    ViewBag.Decription = "";
}

<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <div class="form-group">
                <label for="exampleInputPassword1">Start New Application:</label>
                @Html.ActionLink("Start", "CreateUser", "User", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
        
</div>
